/* CSS Document */
@font-face {
  font-family: 'roboto-bold-webfont';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.otf") format("opentype"), url("../fonts/roboto-bold-webfont.svg#roboto-bold-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'roboto-light-webfont';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.otf") format("opentype"), url("../fonts/roboto-light-webfont.svg#roboto-light-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'roboto-medium-webfont';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.otf") format("opentype"), url("../fonts/roboto-medium-webfont.svg#roboto-medium-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'roboto-regular-webfont';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.otf") format("opentype"), url("../fonts/roboto-regular-webfont.svg#roboto-regular-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'lora-regular-webfont';
  src: url("../fonts/lora-regular-webfont.eot");
  src: url("../fonts/lora-regular-webfont?#iefix") format("embedded-opentype"), url("../fonts/lora-regular-webfont.woff") format("woff"), url("../fonts/lora-regular-webfont.ttf") format("truetype"), url("../fonts/lora-regular-webfont.otf") format("opentype"), url("../fonts/lora-regular-webfont.svg#lora-regular-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
@font-face {
  font-family: 'lora-bold-webfont';
  src: url("../fonts/lora-bold-webfont.eot");
  src: url("../fonts/lora-bold-webfont?#iefix") format("embedded-opentype"), url("../fonts/lora-bold-webfont.woff") format("woff"), url("../fonts/lora-bold-webfont.ttf") format("truetype"), url("../fonts/lora-bold-webfont.otf") format("opentype"), url("../fonts/lora-bold-webfont.svg#lora-bold-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE; }
ul, li, h1, h2, h3 {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

select {
  background: url(../images/select-icon.png) 95% center no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a {
  text-decoration: none; }

h2 {
  margin-bottom: 20px; }

h4 {
  color: #5b8404;
  margin: 0 0 10px;
  font-family: "roboto-regular-webfont";
  font-size: 16pt; }

h5 {
  color: #5b8404;
  margin: 0 0 10px;
  font-family: "roboto-regular-webfont";
  font-size: 15pt; }

.topHeader {
  background: #575757 none repeat scroll 0 0;
  color: #fff;
  border-bottom: 5px solid #ddf4ca;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.topHeader + .row {
  margin-top: 45px; }

.searchField {
  background: #575757 none repeat scroll 0 0;
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
  display: none; }
  .searchField .form-group {
    float: right;
    margin-bottom: 0;
    padding: 5px 20px;
    width: 500px; }
  .searchField .input-group-addon {
    padding: 0; }
    .searchField .input-group-addon a {
      color: #545454;
      border: 0px !important; }

.topMsg {
  display: inline-block;
  margin: 13px 0; }

.Login ul {
  float: right; }
.Login li {
  float: left;
  margin: 5px; }
.Login li:not(:nth-child(1)) a {
  border: 2px solid #fff; }
.Login a {
  float: left;
  color: #fff;
  margin: 0px;
  padding: 8px 12px; }

.fixed-header {
  padding: 20px 0;
  display: inline-block;
  width: 100%; }
  .fixed-header .quote {
    font-family: "lora-regular-webfont";
    font-size: 27pt;
    color: #86a51a;
    display: inline-block;
    font-weight: bold;
    margin: 0px;
    text-shadow: 1px 2px 2px #818181;
    text-align: center;
    width: 100%; }
    .fixed-header .quote span {
      color: #437059; }
  .fixed-header samp {
    text-align: center;
    font-family: "roboto-light-webfont";
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0; }
  .fixed-header .callDetail {
    float: right;
    font-family: "roboto-light-webfont";
    text-align: right; }
    .fixed-header .callDetail li {
      font-size: 12pt;
      margin: 0 0 4px; }
      .fixed-header .callDetail li a {
        color: #545454; }
    .fixed-header .callDetail i {
      margin-right: 10px;
      color: #000; }

.bannerEffect {
  background: rgba(255, 255, 255, 0.6);
  float: left;
  padding: 30px;
  height: 600px;
  text-align: center; }

.fl-img {
  margin: 40px 0;
  border: 3px solid #cccac8; }

.readmore {
  background: #554b49 none repeat scroll 0 0;
  color: #fff !important;
  float: left;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 250px; }

.f-categories {
  /* height: 470px;*/
  overflow: hidden;
  position: relative; }
  .f-categories img {
    width: 100%; }
  .f-categories span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "lora-regular-webfont";
    font-size: 30pt;
    text-shadow: 1px 1px 3px #000; }

.bg-body {
  background: url(../images/bg.jpg) repeat; }

footer {
  margin: 30px 0 0 0;
  background: url(../images/footerbg.jpg) repeat; }
  footer h3 {
    font-family: "lora-regular-webfont";
    font-size: 18pt;
    margin: 0px; }
  footer .facebook {
    border-right: 1px solid #bfbfc1;
    display: inline-block;
    padding: 25px 0 20px 20px;
    min-height: 166px;
    text-align: left;
    width: 49.77%;
    float: left; }
  footer .poweredBy {
    display: inline-block;
    padding: 25px 0 20px 10px;
    min-height: 154px;
    text-align: center;
    width: 49.77%; }
  footer .footerNav {
    display: inline-block;
    padding: 25px 0 20px 10px;
    min-height: 350px; }
    footer .footerNav li {
      display: inline-block;
      width: 100%; }
    footer .footerNav a {
      color: #545454;
      font-family: "roboto-light-webfont";
      font-size: 13pt; }
      footer .footerNav a:hover {
        color: #fff;
        text-decoration: none; }
    footer .footerNav h3 {
      margin-bottom: 20px; }
  footer .footerAdds {
    padding: 20px 0;
    border-top: 1px solid #bfbfc1; }
    footer .footerAdds li {
      display: inline-block;
      margin: 0 20px;
      width: auto; }
  footer img {
    margin-top: 20px; }
  footer .f-footer {
    font-family: "roboto-light-webfont";
    background: #575757;
    color: #fff;
    font-size: 12pt;
    padding: 5px;
    text-align: center;
    width: 100%; }
    footer .f-footer p {
      margin: 0 0 5px 0; }

.banner {
  overflow: hidden;
  margin: 0 0 30px 0; }

footer .col-lg-6 {
  padding: 0px; }

.bg-body h1 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 20px 0; }
.bg-body h1::before {
  background: #afafaf;
  content: "";
  height: 1px;
  left: -15px;
  position: absolute;
  top: 50%;
  width: 35%; }
.bg-body h1::after {
  background: #afafaf;
  content: "";
  height: 1px;
  right: -15px;
  position: absolute;
  top: 50%;
  width: 35%; }

.flow-cate {
  background: #fbfafa;
  text-align: center;
  padding: 40px;
  margin: 20px 0;
  margin: 30px 5% 30px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 30%;
  float: left;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .flow-cate a span {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #000;
    font-family: "roboto-regular-webfont";
    font-size: 22pt; }
  .flow-cate:nth-child(3n) {
    margin-right: 0px; }
  .flow-cate:hover {
    box-shadow: 0px 0px 3px #000;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.img-full-width img {
  width: 100%; }

.right-side p {
  margin: 20px 0; }

.reviewEffect {
  box-shadow: inset 0px 0px 5px #000; }

.billingInformation {
  background: #fbfafa;
  border: 1px solid #afafaf;
  float: left;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  position: relative; }
  .billingInformation span {
    float: right; }
  .billingInformation li {
    display: inline-block;
    margin: 7px  3% 7px 0;
    width: 30%; }

.reviewDetail {
  background: #fafdfa;
  border: 1px solid #d7d7d7;
  float: left;
  padding: 20px 20px 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%; }
  .reviewDetail:hover {
    box-shadow: 0px 0px 3px #000;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .reviewDetail .flowerRevDetail {
    float: left;
    width: 100%;
    margin-bottom: 20px; }
    .reviewDetail .flowerRevDetail aside {
      float: left;
      height: 220px;
      overflow: hidden;
      width: 25%; }
    .reviewDetail .flowerRevDetail section {
      float: right;
      width: 73%; }
    .reviewDetail .flowerRevDetail li {
      border-bottom: 1px solid #ccc;
      float: left;
      padding: 20px 3px;
      width: 50%; }
    .reviewDetail .flowerRevDetail li:nth-child(2n+1) {
      padding-right: 4%; }
    .reviewDetail .flowerRevDetail li:nth-child(2n+2) {
      padding-left: 4%; }
    .reviewDetail .flowerRevDetail span {
      float: right; }

.btn-col {
  background: #554b49;
  color: #fff;
  margin: 20px 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .btn-col:hover {
    background: #86a51a;
    color: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.btn-col2 {
  background: #749d49;
  color: #fff;
  margin: 20px 0;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .btn-col2:hover {
    background: #86a51a;
    color: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.btnDirectionLeft {
  float: left; }

.btnDirection {
  float: right; }

.closeBtn {
  background: url(../images/close.png) no-repeat;
  height: 15px;
  width: 15px;
  top: 10px;
  right: 10px;
  position: absolute; }

.editBtn {
  background: url(../images/edit.png) no-repeat;
  height: 23px;
  width: 28px;
  top: 10px;
  right: 10px;
  position: absolute; }

.requiredText {
  position: absolute;
  right: 20px;
  top: 20px; }
  .requiredText span {
    color: #be1223;
    margin-right: 5px; }

.form-group {
  position: relative; }

#delivery_date + i {
  position: absolute;
  right: 13px;
  top: 39px; }

.formStructure .form-group {
  float: left;
  margin: 0 1%;
  padding: 10px 0;
  width: 18%; }
.formStructure .form-group span {
  color: #be1223;
  margin-right: 5px; }
.formStructure p {
  width: 100%;
  float: left;
  margin-bottom: 20px; }

.billingInformaion {
  border: 1px solid #ccc;
  padding: 20px;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .billingInformaion input[type="text"], .billingInformaion input[type="password"], .billingInformaion select, .billingInformaion textarea {
    background-color: #f8f7f7; }
  .billingInformaion:hover {
    box-shadow: 0px 0px 3px #000;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.checkoutSummary {
  margin-bottom: 20px;
  float: left;
  margin-bottom: 20px;
  width: 100%; }
  .checkoutSummary figure {
    float: left;
    height: 210px;
    overflow: hidden;
    width: 20%; }
  .checkoutSummary .checkoutDetail {
    background: #fbfafa; }

.checkoutDetail {
  border: 1px solid #d7d7d7;
  float: right;
  width: 78%;
  padding: 20px; }
  .checkoutDetail .productAndGift {
    border: medium none;
    font-size: 14pt; }
    .checkoutDetail .productAndGift span {
      font-family: "roboto-regular-webfont";
      float: right; }
    .checkoutDetail .productAndGift:nth-child(2n+1) {
      padding-right: 20px; }
    .checkoutDetail .productAndGift:nth-child(2n+2) {
      padding-left: 20px; }
  .checkoutDetail .productAndGift {
    border: medium none;
    float: left;
    font-size: 13pt;
    width: 50%; }
    .checkoutDetail .productAndGift .productSec {
      margin-bottom: 10px; }
      .checkoutDetail .productAndGift .productSec:nth-child(n+2) {
        border-top: 1px solid #ccc;
        padding-top: 10px; }
    .checkoutDetail .productAndGift .giftSec {
      margin-bottom: 10px; }
      .checkoutDetail .productAndGift .giftSec:nth-child(n+2) {
        border-top: 1px solid #ccc;
        padding-top: 10px; }

.rgularColour {
  font-family: "roboto-regular-webfont";
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
  font-size: 13pt; }
  .rgularColour:before {
    background: #f49ac1;
    border-radius: 100%;
    content: "";
    height: 9px;
    left: 0px;
    position: absolute;
    top: 9px;
    width: 9px; }

.totalAmnt {
  background: #fff;
  float: left;
  padding: 5px 20px;
  width: 100%; }
  .totalAmnt strong {
    float: right; }

.dateAndCalander {
  float: left;
  margin-top: 15px;
  width: 100%; }
  .dateAndCalander .dates {
    float: left; }
  .dateAndCalander .calander {
    float: right; }
    .dateAndCalander .calander a {
      color: #545454; }

.billingform {
  float: left;
  width: 100%; }
  .billingform span {
    color: #be1223;
    margin-right: 5px; }
  .billingform .billInformation {
    float: left;
    padding-right: 3%;
    width: 63%;
    position: relative; }
    .billingform .billInformation .form-group {
      float: left;
      margin-right: 2.3%;
      width: 31%; }
    .billingform .billInformation:after {
      background: transparent linear-gradient(#fff, #aaabaa, #fff) repeat scroll 0 0;
      content: "";
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      width: 2px; }
  .billingform .form-group strong {
    float: left;
    line-height: 24px;
    width: 100%; }
  .billingform .cardMassages {
    float: right;
    padding-left: 4.4%;
    position: relative;
    width: 37%; }

.bridal-cat {
  background: #fbfafa;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .bridal-cat h3 {
    font-family: "roboto-regular-webfont";
    color: #dd517e;
    font-size: 17pt;
    margin: 10px 0;
    text-align: center; }
  .bridal-cat a {
    color: #2b2a2a; }
    .bridal-cat a span {
      display: inline-block;
      text-align: center;
      width: 100%; }
  .bridal-cat:hover {
    box-shadow: 0px 0px 3px #000;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.cardImg {
  position: absolute;
  right: 20px;
  top: 0; }

.heading3 {
  font-size: 16pt;
  margin-bottom: 20px; }

.Item-Select, .cartDetail .cartList .Item-name select, .flowerQyt select {
  background-color: #fff;
  background-position: 84% center;
  border: 1px solid #ccc;
  margin-left: 20px;
  padding: 5px;
  width: 55px; }

.cartDetail {
  float: left;
  width: 100%;
  font-family: "roboto-regular-webfont";
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .cartDetail .cartImg {
    float: left;
    height: 268px;
    overflow: hidden;
    width: 25%; }
    .cartDetail .cartImg img {
      max-width: 100%; }
  .cartDetail .cartList {
    float: left;
    width: 48%; }
    .cartDetail .cartList:nth-child(2n) {
      float: right; }
    .cartDetail .cartList .changeFormat {
      color: #1c1c1c; }
    .cartDetail .cartList h3 {
      color: #dd517e;
      font-size: 15pt; }
    .cartDetail .cartList .Item-name {
      float: left;
      width: 100%; }
      .cartDetail .cartList .Item-name li {
        border-bottom: 1px solid #e2e2e2;
        float: left;
        padding: 12px 0;
        width: 100%; }
        .cartDetail .cartList .Item-name li:last-child {
          border: 0px;
          padding-bottom: 0; }
        .cartDetail .cartList .Item-name li span {
          float: right; }
    .cartDetail .cartList samp {
      color: #535353;
      font-size: 11pt; }
    .cartDetail .cartList button {
      margin: 0px; }
  .cartDetail:hover {
    box-shadow: 0px 0px 3px #000;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.billDetail > strong {
  float: right; }

.allDetail {
  float: left;
  width: 100%; }

.price {
  color: #3e6719;
  float: left;
  font-size: 44pt;
  width: 40%; }

.flowerQyt {
  float: left;
  margin: 20px 0 0;
  width: 30%; }

.flowerSize {
  float: left;
  width: 100%;
  margin: 20px 0; }

.item {
  float: left;
  width: 100%; }

button, .fl-size {
  background: #fafdfa;
  border: 1px solid #ccc;
  color: #545454;
  padding: 5px 20px;
  margin-right: 5px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  button:hover, .fl-size:hover {
    background: #ddf3cc;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.shareLinks {
  position: relative;
  float: left;
  position: relative;
  width: 30%;
  margin: 20px 0 0; }
  .shareLinks a {
    background: #fafdfa;
    border: 1px solid #ccc;
    color: #545454;
    float: right;
    padding: 5px 10px; }
  .shareLinks i {
    color: #000;
    margin-right: 10px; }
  .shareLinks ul {
    background: #DEF3CE;
    border: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 34px;
    display: none; }
    .shareLinks ul li {
      border-bottom: 1px solid #ccc;
      padding: 5px 10px; }

.aboutSec {
  display: flex;
  margin-bottom: 20px; }
  .aboutSec:nth-child(2n+2) {
    flex-direction: row-reverse; }
    .aboutSec:nth-child(2n+2) .aboutImg {
      margin-right: 2%; }
  .aboutSec:nth-child(2n+1) aside {
    margin-left: 2%; }
  .aboutSec .aboutImg {
    float: left;
    width: 30%; }
  .aboutSec .aboutContent {
    float: left;
    width: 68%; }
    .aboutSec .aboutContent ul {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2; }
      .aboutSec .aboutContent ul li {
        margin: 10px 0; }

.bot-msg {
  color: #86a51a;
  font-size: 16pt;
  margin: 10px 0; }

.ac-detail {
  border: 1px solid #ccc;
  color: #86a51a;
  font-size: 16pt;
  padding: 11px 30px; }

.sec-login {
  float: left;
  margin: 35px 0;
  width: 100%; }
  .sec-login strong {
    float: left;
    margin: 10px 0;
    width: 100%; }
  .sec-login .form-group {
    float: left;
    margin: 10px 0;
    width: 100%; }
    .sec-login .form-group input {
      margin-right: 10px;
      background: #FBFAFA; }

.shopNow span {
  color: #be1223;
  margin-right: 5px; }

.lg-form {
  padding-left: 10%;
  position: relative; }
  .lg-form .form-group {
    width: 48.5%; }
  .lg-form .pwdSec {
    margin-left: 3%; }
  .lg-form:after {
    background: transparent linear-gradient(#fff, #545454, #fff) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 5%;
    position: absolute;
    top: 0;
    width: 1px; }
  .lg-form .pwdLink {
    clear: both;
    color: #545454;
    float: right;
    text-align: right; }

.BannerBox {
  width: 100%;
  height: 350px;
  background: #444;
  margin: 0 auto 20px; }
  .BannerBox img.wide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%; }
  .BannerBox img.tall {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%; }
  .BannerBox img {
    object-fit: cover; }

.contDetail li {
  float: left;
  margin: 10px 0;
  width: 100%; }
.contDetail i {
  font-size: 20px;
  margin-right: 10px; }
.contDetail address span {
  float: left;
  font-size: 14px;
  margin: 5px 0 0 30px;
  width: 100%; }

.gallery {
  margin-bottom: 30px; }

iframe {
  width: 100%;
  margin: 20px 0; }

.feedback {
  background: url(../images/newsletter.jpg) no-repeat center center;
  height: 350px;
  width: 100%; }

.feedbackLists {
  float: right;
  margin: 60px;
  width: 800px; }

.feedback h4 {
  color: #cd58bc;
  font-size: 21pt;
  margin-bottom: 20px; }
.feedback .lSAction {
  display: none !important; }

.feedback
blockquote {
  border-left: 0 solid #eeeeee !important;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  position: relative; }
  .feedback
  blockquote:before {
    color: black;
    content: "\"";
    font-size: 35px;
    left: -15px;
    position: absolute;
    top: -20px; }
  .feedback
  blockquote:after {
    color: black;
    content: "\"";
    font-size: 35px;
    right: -8px;
    position: absolute;
    bottom: -20px; }

.billDetail {
  border: 1px solid #ccc;
  float: left;
  padding: 20px;
  width: 100%; }
  .billDetail .sec-1 {
    float: left;
    width: 30%; }
    .billDetail .sec-1 label {
      color: #86a51a; }
  .billDetail .sec-2 {
    float: right;
    width: 35%; }
    .billDetail .sec-2 li {
      margin-bottom: 17px;
      font-family: "roboto-regular-webfont"; }
    .billDetail .sec-2 span {
      float: right; }

.active-class {
  background: #ddf3cc none repeat scroll 0 0; }

.sameField {
  float: left;
  margin: 10px 0;
  width: 100%; }
  .sameField input[type="checkbox"] {
    margin-right: 5px; }

/*# sourceMappingURL=style.css.map */
